.git
.turbo
node_modules
**/node_modules
logs
**/*.log
**/dist
**/.next
**/coverage
.env
.env.*
!.env.example

apps/*
!apps/websocket
!apps/websocket/**

packages/*
!packages/eslint-config
!packages/eslint-config/**
!packages/typescript-config
!packages/typescript-config/**
